<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php" colors="true"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage" highLowerBound="80"/>
            <clover outputFile="tests/coverage/phpunit.coverage.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/logs/junit.xml"/>
        <testdoxText outputFile="tests/logs/testdox.txt"/>
        <text outputFile="tests/logs/logfile.txt"/>
    </logging>
</phpunit>
